name: CI-CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}   
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}  
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: docker build 1
      run: |
        docker build ./microservice/books -t ${{ secrets.DOCKER_USER }}/book-microservice
    - name: docker build 2
      run: |
        docker build ./microservice/custumer -t ${{ secrets.DOCKER_USER }}/customer-microservice
    - name: docker build 3
      run: |
       docker build ./microservice/borrowing -t ${{ secrets.DOCKER_USER }}/borrowing-microservice
    - name: docker push
      run: |
        docker push ${{ secrets.DOCKER_USER }}/book-microservice
        docker push ${{ secrets.DOCKER_USER }}/customer-microservice
        docker push ${{ secrets.DOCKER_USER }}/borrowing-microservice
